/* CSS RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES */
:root {
    --color-cream: rgb(242, 234, 226);
    --color-white: rgb(255, 255, 255);
    --color-grey: rgb(108, 114, 137);
    --color-green-500: rgb(61, 129, 104);
    --color-green-700: rgb(26, 64, 50);
    --font-montserrat: "Montserrat", "sans-serif";
    --font-fraunces: "Fraunces", "serif";
}

body {
    background: var(--color-cream);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
}

/* PRODUCT CARD */
article {
    display: flex;
    flex-direction: column;
    max-width: 22rem;
    border-radius: 1rem;
    background: var(--color-white);
}

/* IMAGE MOBILE */
article figure img {
    max-width: 22rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

/* PRODUCT TEXT - FIGCAPTION */
figcaption {
    display: flex;
    flex-direction: column ;
    padding: 2rem;
}

figcaption > * {
    padding: 0.5rem 0;
}

/* FONT STYLING */
.product-tag,
.product-description,
button  {
    font-family: var(--font-montserrat);
}

.product-heading,
.product-price-discount,
.product-price-nodiscount {
    font-family: var(--font-fraunces);
}

.product-tag,
.product-price-nodiscount {
    font-size: 0.75rem;
}

.product-heading,
.product-price-discount {
    font-size: 2rem;
}

.product-description {
    font-size: 0.9rem;
    line-height: 160%;
    color: var(--color-grey);
}

.product-pricing-area {
    display: flex;
    align-items: center;
}

.product-tag {
    line-height: 120%;
    letter-spacing: 5px;
}

.product-price-nodiscount {
    text-decoration: line-through;
    padding-left: 1rem;
    color: var(--color-grey);
}

.product-price-discount {
    color: var(--color-green-500);
    font-weight: 700;
}

/* BUTTON ADD TO CART */
button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6rem 0;
    color: var(--color-white);
    background: var(--color-green-500);
    border: 1px solid var(--color-green-500);
    border-radius: 0.5rem;
}

button:hover {
    background: var(--color-green-700);
    cursor: pointer;
}

.btn-calltoaction {
    font-size: 0.75rem;
    line-height: 110%;
    font-weight: 500;
    padding-left: 0.5rem;
}